@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&family=Roboto+Mono:wght@300&&family=Ubuntu:wght@300;400&family=Work+Sans:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  background: #182131;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 200;
  margin: 0.4em 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: #fff;
}

h2 {
  color: #888;
  font-size: 2em;
}

span {
  font-family: "Raleway", sans-serif;
  background: #fada06;
  color: #fff;
  font-weight: 700;
  padding: 0px 3px 0px 3px;
  border-radius: 3px;
}

span:hover {
  font-family: "Raleway", sans-serif;
  background: #182131;
  color: #fada06;
  font-weight: 700;
  padding: 0px 3px 0px 3px;
}

.container {
  text-align: center;
  max-width: none;
}

.class-top-header {
  background-color: #292b2b;
  margin-bottom: 15px;
  width: 100%;
}

.cosmos-border {
  border-top: 5px solid #167bf7;
}

.cosmos-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 820px;
  padding-right: 16px;
  padding-left: 16px;
}

.alura-logo-header {
  background-color: #167bf7;
  border-radius: 2px;
  padding: 0.5rem;
}

.alura-logo-header {
  position: absolute;
  top: 0;
}

img {
  border: none;
  max-width: 100%;
}

.logo-img {
  width: 3rem;
}

.page-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 70px;
  color: #aaa;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #aaa;
  margin-top: 5px;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
}

.page-title-imersao {
  font-family: "Roboto Mono", monospace;
  color: #fff;
  font-size: 40px;
  margin-top: 50px;
}

.page-logo {
  width: 300px;
}

.alura-logo {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 23px;
  text-decoration: none;
  width: 50px;
  position: absolute;
  top: 20px;
  right: 30px;
  border: 2px solid;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
}

.alura-logo:hover {
  color: rgb(4, 20, 41);
}

label {
  color: #666;
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin-top: 15px;
}

label span {
  color: red;
  font-weight: 200;
}

input,
textarea {
  font-size: 1.1rem;
  margin-top: 8px;
  background: #f7f7f7;
  border: 2px solid #e1e1e1;
  border-radius: 3px;
}

input {
  width: 200px;
  height: 50px;
  padding: 0 10px;
}

button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  color: #fff;
  border: 0;
  margin-top: 36px;
  background: #167bf7;
  font-size: 1.8rem;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.col-md-2 {
  text-align: center;
}

p {
  margin-top: 50px;
}
